<body class="flex">
  <main class="w-full flex flex-col items-center justify-center">
    <section
      class="w-11/12 xl:flex-row flex-col-reverse flex items-center justify-around"
    >
      <div>
        <h1
          class="text-black/90  font-semibold text-xl xl:text-6xl xl:text-left text-center"
        >
          Bem vindo à sua nova<br />
          <span class="text-red-600 font-black"
            >experiência automobilística.</span
          >
        </h1>
        <h2
          class="xl:text-3xl text-base xl:w-3/5 xl:text-left text-center mt-2 text-gray-800 font-light"
        >
          com FranCar, seu sonho do carro novo está a uns pouquíssimos cliques
          de distância. Entre e aproveite as ofertas, com as melhores condições
          de todo o mercado!
        </h2>
      </div>
      <img [src]="myImage" class="2xl:w-1/2" alt="" />
    </section>
    <button
      (click)="goHome()"
      class="text-white mt-10 shadow-md hover:bg-white hover:text-red-600 flex self-center bg-red-600 p-4 font-black rounded-md xl:text-2xl text-xl transition-all"
      type="button"
    >
      Quero Conhecer!
    </button>
  </main>
</body>
