<body class="flex min-h-screen py-32 ">
  <main class="animate-fade-up w-full md:pt-32 flex flex-col items-center justify-center">
    <section
      class=" w-11/12 flex-col flex items-center justify-center"
    >
      <div class="flex flex-col items-center">
        <h1
          class="text-white  font-light text-2xl xl:text-6xl md:text-4xl text-center"
        >
          Bem vindo à sua nova<br />
          <span class="text-white font-black"
            >experiência automobilística.</span
          >
        </h1>
        <h2
          class="md:text-2xl sm:text-xl text-sm 2xl:w-2/5 md:w-3/5 w-11/12  mt-3 text-center text-white font-extralight"
        >
          Com FranCar, seu sonho do carro novo está a uns pouquíssimos cliques
          de distância. Entre e aproveite as ofertas, com as melhores condições
          de todo o mercado!
        </h2>

      </div>
      <img src="assets/img/front-view-generic-brandless-modern-car_110488-532-removebg-preview.png" loading="eager" class="animate-fade-up xl:w-4/12 md:5/12 sm:w-7/12  w-11/12 h-1/1" alt="car" />
    </section>
    <button
    (click)="goHome()"
    class="group md:w-1/4 sm:w-2/4 w-11/12 bg-white text-black text-center gap-2  shadow-md items-center justify-center  flex p-2 font-light border border-white rounded-full 2xl:text-2xl text-base transition-all"
    type="button"
  >
    Quero Conhecer <mat-icon class="group-hover:pl-2 transition-all">keyboard_arrow_right</mat-icon>
  </button>
  </main>
</body>
