<header class="z-50 shadow-md fixed w-full bg-red-600 flex items-center justify-center">
  <nav
    class= "w-11/12 flex  justify-between px-5 py-2"
    style="font-family: 'Poppins'"
  >
    <a href=""
      >
      <img src="assets/img/Component 43.png" alt="img" class="w-16 xl:hidden block">
      <h2 class="xl:block hidden animate-pulse text-5xl text-white font-black">
        Fran<span class="text-gray-800">Car</span>
      </h2></a
    >
    <ul class=" flex gap-5 text-xl items-center">
      <a href="/" class="flex gap-2 font-black text-white xl:text-gray-800"
        ><span class="xl:hidden block"><mat-icon>home</mat-icon></span>
        <li><h4 class="xl:block hidden underline decoration-8 decoration-white">Início</h4></li></a
      >
      <li class="flex gap-2 font-black text-white xl:text-gray-800">
        <span class="xl:hidden block"><mat-icon >sort</mat-icon></span>
        <h4 class="xl:block hidden underline decoration-8 decoration-white">Filtros</h4>
      </li>
    </ul>
  </nav>
</header>
