<body class="p-5 bg-black">


  <main class="py-24 flex flex-col items-center gap-10">
    <div
      id="presentation"
      class="justify-center flex flex-col xl:w-2/3 p-4 w-full"
    >
      <h1 class="font-black text-white 2xl:text-5xl text-2xl text-center">
        <span class="font-light text-white"
          >O que podemos fazer por você

        hoje? </span>
      </h1>
      <div
        class="mt-10 2xl:p-10 p-3 text-white flex justify-center flex-col bg-black shadow-md w-full rounded-md"
      >
        <h3 class="text-left 2xl:text-3xl text-base font-semibold">
          Pesquisar Veículos:
        </h3>
        <div class="mt-5 flex items-center gap-2">
          <input
            placeholder="Digite a marca/modelo do carro"
            class="placeholder:font-semibold w-10/12 text-black self-start active:border-black active:border-4 p-3 border rounded-md"
            type="search"
            name="search"
            id="searchInput"
            #searchInput
          />

          <button
            (click)="search(searchInput.value)"
            class="bg-white p-3 text-black rounded-md flex items-center"
          >
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="2xl:w-2/3 w-11/12">
      <h1
        class="font-light text-white 2xl:text-5xl text-2xl text-center"
      >
Nossas principais
        Ofertas:
      </h1>
    </div>

    <section
      class=" bg-white/20 text-white shadow-xl w-11/12 xl:w-2/3 md:flex-row flex-col flex items-center justify-evenly p-4 rounded-lg"
      *ngFor="let car of displayedCars"
    >
      <div class="img-container">
        <img
          loading="lazy"
          class="2xl:w-80 md:w-60"
          src="{{ car.foto }}"
          alt=""
        />
      </div>
      <div
        class="items-center justify-center flex xl:flex-col md:gap-10 sm:gap-0 xl:gap-0 text-left xl:flex-row sm:flex-col flex-col"
      >
        <div class="flex flex-col">
          <h2
            class="xl:text-4xl md:text-3xl sm:text-3xl md:text-left text-center text-xl mb-2 font-light"
          >
            {{ car.marca.toUpperCase() }} <br class="xl:block hidden" /><span
              class="font-black xl:text-4xl md:text-3xl sm:text-3xl text-xl text-white"
              >{{ car.modelo.toUpperCase() }}</span
            >
          </h2>
          <h1
            class="2xl:text-4xl sm:text-4xl text-2xl font-black text-green-500 underline decoration-black 2xl:text-left xl:text-left md:text-left sm:text-center text-center"
          >
            {{ car.preco }}
          </h1>
          <h3
            class="md:text-2xl sm:text-2xl md:text-left text-center my-2 font-semibold text-white/70"
          >
            {{ car.motor }} {{ car.ano }}
          </h3>
        </div>
      </div>
      <div class="md:mt-0 mt-5">
        <button
          class="font-bold 2xl:p-3 py-1 px-3 2xl:w-56 w-full  flex items-center justify-center bg-white text-black shadow  transition-all rounded-full 2xl:text-2xl text-base"
          (click)="navToDetails(car.id)"
        >
          Mais Detalhes
          <span class="self-center pr-4 pl-2 w-4 mt-2"
            ><mat-icon>keyboard_arrow_right </mat-icon></span
          >
        </button>
      </div>
    </section>
  </main>

  <mat-paginator
    class="md:text-left text-center flex items-center justify-center"
    [length]="totalCars"
    [pageSize]="10"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</body>
