<div
  class="fixed w-full h-screen z-50 inset-0 flex flex-col justify-center items-center gap-10 bg-black"
>
  <img
    src="assets/img/Component 54.svg"
    alt="img"
    class="w-32 animate-bounce"
    loading="eager"
  />

  <p class="text-lg font-bold mt-4 2xl:text-6xl text-xl text-center px-2">
    <span class="text-white font-black"
      >ESQUENTANDO MOTORES <span class="animate-fade-up">.</span
      ><span class="animate-fade-up delay-75">.</span
      ><span class="animate-fade-up ">.</span></span
    >
  </p>
</div>
