<div
  class="px-5 py-24 flex flex-col items-center w-full bg-black gap-10 justify-center h-full"
>
  <div class="border-b pb-5 animate-fade-up border-green-500">
    <p
      class="animate-fade-up2 font-bold mt-4 2xl:text-4xl text-xl text-center text-white"
    >
      Obrigado por comprar com a
      <span class="text-green-500 font-black">FranCar!</span>
    </p>
    <br />
    <p
      class="animate-fade-up3 font-bold mt-4 2xl:text-4xl text-xl text-center text-white"
    >
      Este é um projeto feito por
      <span class="text-green-500 font-black">Leandro Sousa.</span>
    </p>
  </div>
  <p
    class="animate-fade-up2 font-bold mt-4 2xl:text-4xl text-xl text-center text-white"
  >
    <span class="text-green-500 font-black">Fala Comigo:</span>
  </p>
  <ul class="gap-5 md:w-5/12 w-11/12 text-left">
    <li>
      <p
        class="animate-fade-up2 font-bold mt-4 2xl:text-4xl text-xl text-white"
      >
        LinkedIn:
        <span class="text-green-500 font-black"><a class="transition-all hover:bg-white hover:px-2 rounded-full" href="http://linkedin.com/in/leosousadev">@leosousadev</a></span>
      </p>
    </li>
    <li>  <p
      class="animate-fade-up2 font-bold mt-4 2xl:text-4xl text-xl  text-white"
    >
      Github:
      <span class="text-green-500 font-black"><a class="transition-all hover:bg-white hover:px-2 rounded-full" href="http://github.com/sousalmdev">@sousalmdev</a></span>
    </p></li>
    <li> <p
      class="flex items-center animate-fade-up2 gap-2 font-bold mt-4 2xl:text-4xl text-xl text-white"
    >
      Email: <span class="text-green-500 font-black"><a class="flex items-center transition-all hover:bg-white gap-2 hover:px-2 rounded-full" href="mailto:leandromedeiros690@gmail.com"> @leandromedeiros <mat-icon>mail</mat-icon></a></span>
    </p></li>
  </ul>
  <button
    (click)="goHome()"
    class="text-white flex animate-fade-up3 text-center items-center justify-center gap-2 mt-10 flex shadow-md hover:bg-white hover:text-green-500  bg-green-500 p-4 font-black rounded-full md:text-3xl text-xl transition-all md:w-1/4 sm:w-2/4 w-11/12"
    type="button"
  >
    <mat-icon> home </mat-icon> Voltar ao Início
  </button>
</div>
