@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.836);
  font-family: "Poppins", sans-serif;
}
