<body class="px-5 pt-20 text-white bg-black h-max">
  <main
    class="py-20 px-5 min-h-screen flex items-center 2xl:justify-start flex-col"
  >
    <section
      class="2xl:w-5/12 w-full 2xl:border 2xl:shadow rounded flex flex-col items-center justify-center"
    >
      <div class="flex flex-col items-center py-10 bg-black text-white">
        <div class="flex flex-col items-center text-black justify-center p-5">
          <div class="flex flex-col mb-6">
            <h2 class="text-center sm:text-6xl text-3xl font-semibold">
              {{ car.marca.toUpperCase() }}
              <span class="font-black text-green-500">{{
                car.modelo.toUpperCase()
              }}</span>
            </h2>
          </div>
          <img src="{{ car.foto }}" alt="" class="" />

          <p
            class="md:text-3xl sm:text-xl text-base text-white/80 font-light sm:text-left text-center 2xl:w-11/12 sm:w-3/4 w-11/12 my-4"
          >
            {{ car.ficha }}
          </p>
          <div
            class="w-full flex text-center items-center 2xl:justify-center xl:justify-center md:justify-center sm:justify-evenly md:gap-6 justify-between"
          >
            <div
              class="sm:text-2xl text-base flex items-center text-center text-white font-semibold p-3 rounded-md shadow-md"
            >
              <div class="flex flex-col items-center text-black justify-center">
                <h3>Lançamento:</h3>
                <h3 class="font-black text-green-500">
                  {{ car.ano }}
                </h3>
              </div>
            </div>
            <div
              class="sm:text-2xl text-base flex p-3 items-center text-center text-white font-semibold rounded-md shadow-md"
            >
              <div class="flex items-center text-black justify-center">
                <h3>
                  Motor:
                  <br />
                  <span class="w-full font-black text-green-500">
                    {{ car.motor }}
                  </span>
                </h3>
              </div>
            </div>
          </div>
          <div
            class="2xl:text-2xl h-16 items-center md:w-1/2 sm:w-11/12 w-11/12 flex text-xl shadow-md font-normal text-center my-10 bg-black rounded-md text-black"
          >
            <span
              class="bg-green-500 w-7 h-full text-green-500 relative left-0 rounded-e-3xl rounded-s-md"
              >.</span
            >
            <h2 class="m-auto text-white text-center px-1 self-center">
              <span class="font-black 2xl:ml-2">VALOR: </span>
              <span class="font-black">{{ car.preco }},00</span>
            </h2>
          </div>
        </div>
        <button
          (click)="buyCar(car.id)"
          type="button"
          class="2xl:w-1/2 w-10/12 px-4 py-3 flex items-center justify-center gap-2 transition-all hover:scale-100 hover:shadow-2xl text-white bg-green-500 2xl:text-4xl text-3xl font-black rounded-md shadow-md group"
        >
          COMPRAR
          <span
            ><mat-icon class="2xl:mt-0 mt-2"
              >shopping_cart_outlined</mat-icon
            ></span
          >
        </button>
      </div>
    </section>
  </main>
</body>
